In [1]:
'''
Sets :


Another datatype in python which stores unique values only. Can store different datatypes too similar to lists.

1. set is enclosed in curly braces {}
2. set stores uniques data only.
3. it provides many functionality that we know an usual mathemical set provides like union, intersection and joins etc


Use Case :

As mentioned above it provides mathematical operations on set, hence whenever we require to solve problems based on sets we an use them

for example : when we have various combination of students in a class enrolling in different subjects, so here we can find the students who took same subjects, different subjects 
total no of students in a particular subject and many more.

'''

'\nSets :\n\n\nAnother datatype in python which stores unique values only. Can store different datatypes too similar to lists.\n\n1. set is enclosed in curly braces {}\n2. set stores uniques data only.\n3. it provides many functionality that we know an usual mathemical set provides like union, intersection and joins etc\n\n\nUse Case :\n\nAs mentioned above it provides mathematical operations on set, hence whenever we require to solve problems based on sets we an use them\n\nfor example : when we have various combination of students in a class enrolling in different subjects, so here we can find the students who took same subjects, different subjects \ntotal no of students in a particular subject and many more.\n\n'

In [8]:
# set creation

s = {}

print(s, type(s)) # will give type dictionary cause both have same enclosement, solution is to use set function

s = set()

print(s, type(s))

s = {1,2,3,4}

print(s, type(s))

# Can also store diffrent types of data similar to lists

s = {1,2,"shre", 'A' , True, 50.20}

print(s, type(s))

# what if we store duplicate data ? 

s = {1,1,2,2,3,3,4}

print(s, type(s))

# It will anyway store unique ones only

{} <class 'dict'>
set() <class 'set'>
{1, 2, 3, 4} <class 'set'>
{'shre', 1, 2, 50.2, 'A'} <class 'set'>
{1, 2, 3, 4} <class 'set'>

In [13]:
# insertion in set

s = {1,2,3,4,5}

# add function : adds the mentioned item in the set

s.add(10)

print(s)

# s[0] = 100 # sets are unordered collection hence cant access with index values throw TypeError

{1, 2, 3, 4, 5, 10}

In [14]:
# clear set using clear function

s = {1,2,3,4,5}

s.clear()

print(s)

set()

In [16]:
# copy set into another set

s = {1,2,3,4,5}

s2 = s.copy()

print(s,s2)

{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}

In [18]:
# union in set : combines unique data items present in both sets

s = {1,2,3,45}

s2 = {1,2,54,60}

s3 = s.union(s2)

print(s3)

{1, 2, 3, 45, 54, 60}

In [19]:
# intersection in set : returns only common elements present in both sets

s = {1,2,3,45}

s2 = {1,2,54,60}

s3 = s.intersection(s2)

print(s3)

{1, 2}

In [20]:
# difference in set :  returns values present in set and elements that are not present in another set

s = {1,2,3,45}

s2 = {1,2,54,60}

s3 = s.difference(s2)

print(s3)

{3, 45}

In [21]:
# symmetric difference : returns data items in both sets but does not include common ones

s = {1,2,3,45}

s2 = {1,2,54,60}

s3 = s.symmetric_difference(s2)

print(s3)

{3, 54, 60, 45}

In [23]:
# isSubset : return true if one set has elements of another set

s = {1,2}

s2 = {1,2,54,60}

print(s.issubset(s2))

True

In [25]:
# issuperset : returns if all the values are present in another set

s = {1,2,54,60,55}

s2 = {1,2,54,60}

print(s.issuperset(s2))

True

In [27]:
# isdisjoint : Checks if two sets have no elements in common.

s = {3,4,5,6}

s2 = {1,2,54,60}

print(s.isdisjoint(s2))

True

In [33]:
# removing items in set 

# pop function :  removes last element 

s = {1,2,54,60,55}

s.pop()

print(s)


# remove m=function : removes mentioned element if present else throws ValueError

s = {1,2,54,60,55}

s.remove(54)

print(s)

# s.remove(10) # throws Value Error as item not present

# discard fucntion : removes data item if present else DO NOT THROW ERROR

s = {1,2,54,60,55}

s.discard(55)

print(s)

s.discard(200)

print(s)

{2, 54, 55, 60}
{1, 2, 55, 60}
{1, 2, 54, 60}
{1, 2, 54, 60}